.main {
    width: 50%;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0.3rem 0.3rem 0.2rem #979797;
    text-align: center;
    padding: 1rem;
    margin: 1rem auto 2rem;
}

.shop-assessment {
    margin-bottom: 1rem;
}

.new-manager__link,
.shop-assessment__link {
    color: #ffc266;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
}

.new-manager__link:visited,
.shop-assessment__link:visited {
    color: #ffc266;
}

.admin-content {
    width: 70%;
    padding: 0.5rem 0 2rem;
    margin: 0 auto;
    background-color: #ffc266;
    border-radius: 0.3rem;
}

.admin-content__input {
    display: block;
    width: 80%;
    background-color: #fff;
    font-size: large;
    padding: 4rem 3rem 0 7rem;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
}

.admin-content__input::file-selector-button {
    display: block;
    opacity: 0;
}

.admin-content__input::before {
    display: block;
    text-align: center;
    position: absolute;
    content: "クリックまたはドラッグアンドドロップ";
    right: 2rem;
    bottom: 3rem;
}

.admin-content__submit {
    width: 50%;
    margin-top: 2rem;
    padding: 0.3rem 0.7rem;
    font-size: larger;
    background-color: #fff;
    color: #ff9900;
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #979797;
    cursor: pointer;
}

.admin-content__message {
    margin-top: 0.5rem;
}

.message-error {
    font-size: larger;
}

.admin-content__space {
    margin-top: 0.5rem;
    font-size: x-large;
}

@media screen and (max-width: 1024px) {
    .main {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 90%;
    }
}

@media screen and (max-width: 426px) {
    .admin-content {
        width: 90%;
    }

    .admin-content__input {
        font-size: smaller;
        padding: 4rem 3rem 0 4rem;
    }

    .admin-content__input::before {
        right: 0.5rem;
    }

    .message-error {
        font-size: smaller;
    }
}

@media screen and (max-width: 376px) {
    .admin-content {
        width: 100%;
    }

    .admin-content__input {
        width: 90%;
        font-size: small;
    }

    .admin-content__input::before {
        right: 1rem;
    }

    .admin-content__space {
        font-size: larger;
    }

    .message-error {
        font-size: small;
    }
}

@media screen and (max-width: 321px) {
    .admin-content__logo {
        font-size: larger;
    }

    .admin-content__input::before {
        font-size: x-small;
        right: 1.5rem;
    }

    .message-error {
        font-size: x-small;
    }
}