.body {
    background-color: #f5f5f5;
    font-family: "Almarai", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    width: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;
}

.modal-link {
    background-color: #384fff;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    position: relative;
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #979797;
}

.decoration {
    display: block;
    background-color: #fff;
    width: 0.5rem;
    height: 0.1rem;
    content: "";
    position: absolute;
}

.decoration::after {
    display: block;
    background-color: #fff;
    width: 0.2rem;
    height: 0.1rem;
    content: "";
    position: absolute;
    top: 0.8rem;
}

.decoration::before {
    display: block;
    background-color: #fff;
    width: 1rem;
    height: 0.1rem;
    content: "";
    position: absolute;
    top: 0.4rem;
}

.header-logo {
    color: #384fff;
    font-weight: bolder;
    font-size: xx-large;
}

.search-frame {
    width: 40%;
    margin-right: 3rem;
}