.modal {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.modal:target {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.main {
    display: flex;
    justify-content: center;
}

.shop-display {
    width: 40%;
    height: fit-content;
    text-align: center;
    border-right: 0.1rem solid #979797;
    margin: 2rem;
}

.shop-display__item-message {
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
}

.shop {
    width: 30%;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #979797;
    background-color: #fff;
    margin: 2rem auto 0;
}

.shop-photo {
    width: 100%;
    height: 55%;
}

.shop-img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem 0.3rem 0 0;
}

.shop-date {
    padding: 0.5rem 1rem 1rem;
}

.shop-name {
    font-size: larger;
    font-weight: bold;
}

.shop-detail {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-link__button {
    background-color: #384fff;
    color: #fff;
    border-radius: 0.3rem;
    padding: 0.3rem 0.5rem;
    text-decoration: none;
}

.favorite {
    width: 30%;
}

.form-button {
    width: 100%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    text-align: right;
}

.heart {
    width: 50%;
}

.assessment {
    width: 50%;
    margin-left: 2rem;
}

.assessment-title {
    font-size: large;
    font-weight: bold;
}

.assessment-evaluation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.assessment-input {
    display: none;
}

.assessment-star {
    position: relative;
    color: #adadad;
    cursor: pointer;
    font-size: xx-large;
}

.assessment-star:hover {
    color: #384fff;
}

.assessment-star:hover~.assessment-star {
    color: #384fff;
}

.assessment-input:checked~.assessment-star {
    color: #384fff;
}

.comment-area {
    display: block;
    width: 80%;
    background-color: #f5f5f5;
    border: 0.1rem solid #979797;
    padding: 1rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.comment-count {
    display: flex;
    justify-content: flex-end;
    width: 80%;
}

.string-count,
.string-message {
    margin: 0;
    font-size: small;
}

.image-input {
    display: block;
    width: 80%;
    background-color: #fff;
    padding: 6rem 10rem 0 15.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
    position: relative;
}

.image-input::file-selector-button {
    display: block;
    opacity: 0;
}

.image-input::before {
    display: block;
    text-align: center;
    position: absolute;
    content: "クリックして写真を追加\Aまたはドラッグアンドドロップ";
    white-space: pre;
    right: 12.5rem;
    bottom: 3rem;
}

.evaluation-select:focus-visible,
.comment-area,
.image-input {
    outline: 0;
}

.assessment-button {
    position: relative;
}

.button-submit {
    width: 70%;
    font-weight: bold;
    position: absolute;
    right: 30rem;
    background-color: #fff;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;
}

.error-message {
    color: #ff4c4c;
    font-size: large;
}

@media screen and (max-width: 1024px) {
    .shop {
        width: 50%;
    }

    .image-input {
        padding: 6rem 5rem 0 9rem;
    }

    .image-input::before {
        right: 7rem;
    }

    .button-submit {
        right: 20rem;
    }
}

@media screen and (max-width: 768px) {
    .shop-display__item-message {
        font-size: x-large;
    }

    .shop {
        width: 70%;
    }

    .image-input {
        padding: 6rem 4rem 0 5.5rem;
    }

    .image-input::before {
        right: 3.5rem;
    }

    .assessment-button {
        height: 5rem;
    }

    .button-submit {
        width: 90%;
        right: 13rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 426px) {
    .main {
        flex-wrap: wrap;
    }

    .shop-display {
        width: 90%;
        border-right: none;
    }

    .shop {
        width: 50%;
    }

    .assessment {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }

    .assessment-evaluation {
        justify-content: center;
    }

    .comment-area,
    .comment-count,
    .image-input {
        margin: 0.5rem auto 0;
    }

    .button-submit {
        position: static;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 376px) {
    .shop {
        width: 60%;
    }

    .image-input {
        padding: 6rem 2rem 0 5rem;
    }

    .image-input::before {
        right: 2.5rem;
    }
}

@media screen and (max-width: 321px) {
    .shop {
        width: 70%;
    }

    .image-input {
        padding: 6rem 2rem 0 3.5rem;
    }

    .image-input::before {
        right: 1.5rem;
    }
}