.header-search {
    width: 100%;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #979797;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-item {
    width: 20%;
    position: relative;
}

.search-item::after {
    content: "";
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    width: 0.5rem;
    height: 0.5rem;
    border-right: 0.2rem solid #c7c6c6;
    border-bottom: 0.2rem solid #c7c6c6;
    transform: rotate(45deg);
    pointer-events: none;
}

.search-select {
    width: 95%;
    border: none;
    border-right: 0.1rem solid #c7c6c6;
    padding: 0.2rem 0.5rem;
    appearance: none;
    cursor: pointer;
}

.search-select:focus-visible {
    outline: 0;
}

.search-text {
    width: 60%;
}

.text-field {
    width: 100%;
}

.text-field::before {
    content: "";
    background-image: url('../storage/image/icon_search.png');
    background-size: cover;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    display: inline-block;
}

.text-field__input {
    width: 90%;
    border: none;
    padding: 1rem 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.text-field__input:focus-visible {
    outline: 0;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.modal:target {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.shop {
    width: 23%;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #979797;
    background-color: #fff;
    margin: 1rem 0.5rem;
}

.shop-photo {
    width: 100%;
    height: 55%;
}

.shop-img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem 0.3rem 0 0;
}

.shop-date {
    padding: 1rem;
}

.shop-name {
    font-size: larger;
    font-weight: bold;
}

.shop-detail {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1024px) {
    .shop-detail {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .shop-detail {
        margin-top: 0.5rem;
    }
}

.shop-link__button {
    background-color: #384fff;
    color: #fff;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .shop-link__button {
        padding: 0.2rem 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .shop-link__button {
        padding: 0.2rem 0.5rem;
    }
}

.favorite {
    width: 30%;
}

@media screen and (max-width: 768px) {
    .favorite {
        width: 20%;
    }
}

.form-button {
    width: 100%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    text-align: right;
}

.heart {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .heart {
        width: 100%;
    }
}