.main {
    width: 100%;
    padding: 2rem;
}

.main-content {
    width: 30%;
    margin: 2rem auto;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.3rem #979797;
}

.main-content__logo {
    background-color: #ffc266;
    color: #fff;
    margin: 0;
    padding: 1rem 2rem;
    border-radius: 0.3rem 0.3rem 0 0;
}

.main-item {
    background-color: #fff;
    padding: 2rem;
    border-radius: 0 0 0.3rem 0.3rem;
    text-align: center;
}

.form-item__input {
    width: 80%;
    border: none;
    border-bottom: 0.1rem solid #808080;
    font-size: large;
}

.form-item__input:focus-visible {
    outline: 0;
}

.form-item__input-email {
    width: 100%;
    background-color: #fff;
    color: #808080;
}

.form-item__input-email::before {
    content: "";
    background-image: url('../storage/image/icon_email.png');
    background-size: cover;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    display: inline-block;
}

.form-item__input-password {
    width: 100%;
    background-color: #fff;
    color: #808080;
}

.form-item__input-password::before {
    content: "";
    background-image: url('../storage/image/icon_lock-key.png');
    background-size: cover;
    vertical-align: middle;
    width: 2rem;
    height: 2rem;
    display: inline-block;
}

.form-item__select {
    color: #808080;
    font-size: large;
    border: none;
    border-bottom: 0.1rem solid #808080;
    margin-left: 7.5rem;
}

.form-item__select:focus-visible {
    outline: 0;
}

.form-item__error {
    color: #ff4c4c;
}

.form-item__error-guard {
    color: #ff4c4c;
    text-align: end;
    padding-right: 2rem;
}

.form-button__submit {
    background-color: #ffc266;
    color: #fff;
    border-radius: 0.3rem;
    padding: 0.3rem 0.7rem;
    border: none;
}

@media screen and (max-width: 1024px) {
    .main-content {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .main-content {
        width: 70%;
    }
}

@media screen and (max-width: 426px) {
    .main-content {
        width: 100%;
    }
    .form-item__select {
        margin-left: 5.5rem;
    }
}

@media screen and (max-width: 376px) {
    .form-item__select {
        margin-left: 3.5rem;
        font-size: medium;
    }
}

@media screen and (max-width: 321px) {
    .main {
        padding: 2rem 1rem;
    }
    .form-item__select {
        font-size: smaller;
    }
}