.modal {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.modal:target {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.main {
    width: 100%;
    padding: 0 4rem;
}

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stripe {
    width: 30%;
    margin-left: 4rem;
}

.user-name {
    width: 50%;
    font-size: x-large;
    font-weight: bold;
}

.main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.reserved {
    width: 35%;

}

.reserved-content {
    width: 100%;
    background-color: #384fff;
    color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #979797;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
}

.reserved-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reserved-count {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.reserved-icon {
    width: 8%;
    margin-right: 1rem;
}

.icon-clock {
    width: 100%;
}

.reserved-logo {
    font-size: larger;
}

.reserved-edit__button {
    color: #fff;
    background-color: #1a1ad7;
    text-decoration: none;
    font-size: large;
    margin-left: 2rem;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0.1rem 0.1rem 0.3rem #000000;
}

.delete-button {
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #fff;
    border-radius: 1rem;
    color: #fff;
    background-color: #384fff;
    font-size: large;
    font-family: none;
    padding: 0 0.2rem;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.reserved-content__table {
    margin-top: 1rem;
}

.reserved-table {
    width: 100%;
}

.reserved-th {
    width: 25%;
    text-align: left;
    padding: 0.3rem 0;
    font-size: larger;
}

.reserved-td {
    font-size: larger;
}

.like {
    width: 57%;
}

.favorite-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.shop {
    width: 45%;
    border-radius: 0.3rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #979797;
    background-color: #fff;
    margin: 0 2rem 1rem 0;
}

.shop-photo {
    width: 100%;
    height: 55%;
}

.shop-img {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem 0.3rem 0 0;
}

.shop-date {
    padding: 0.5rem 1rem;
}

.shop-name {
    font-size: larger;
    font-weight: bold;
}

.shop-detail {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-link__button {
    background-color: #384fff;
    color: #fff;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

.favorite {
    width: 30%;
}

.form-button {
    width: 100%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    text-align: right;
}

.heart {
    width: 50%;
}

@media screen and (max-width: 1024px) {
    .main {
        padding: 0 2rem;
    }
    .reserved {
        width: 45%;
    }
    .like {
        width: 50%;
    }
    .shop {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .reserved {
        width: 45%;
    }
    .reserved-count {
        flex-wrap: wrap;
    }
    .reserved-icon {
        width: 10%;
    }
    .reserved-edit {
        margin-top: 0.5rem;
    }
    .reserved-edit__button {
        font-size: medium;
        margin-left: 0rem;
    }
    .reserved-th {
        width: 40%;
    }
    .like {
        width: 40%;
    }
    .shop {
        width: 80%;
    }
}

@media screen and (max-width: 426px) {
    .main-header {
        justify-content: space-between;
    }
    .stripe {
        margin-left: 2rem;
    }
    .main-content {
        flex-wrap: wrap;
    }
    .reserved {
        width: 80%;
        margin: 0 auto;
    }
    .like {
        width: 80%;
        margin: 0 auto;
    }
    .shop {
        margin: 0 auto 1rem;
    }
}

@media screen and (max-width: 376px) {
    .main-header {
        flex-wrap: wrap;
    }
    .stripe {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    .user-name {
        margin: 0.5rem auto;
        text-align: center;
    }
    .reserved {
        width: 90%;
    }
    .like {
        width: 90%;
    }
}

@media screen and (max-width: 321px) {
    .main {
        padding: 0 1rem;
    }
    .user-name {
        width: 80%;
        text-align: center;
    }
    .reserved {
        width: 100%;
    }
    .like {
        width: 100%;
    }
}