.shop-back {
    text-align: end;
}

.shop-back__button {
    text-decoration: none;
    font-size: large;
    color: #fff;
    background-color: #384fff;
    border-radius: 0.3rem;
    padding: 0.3rem 0.5rem;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
}

.modal:target {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.main {
    width: 50%;
    margin: 1rem auto;
    background-color: #678df4;
    border-radius: 0.3rem;
    text-align: center;
    padding: 2rem;
}

.shop-name {
    font-size: xx-large;
    color: #fff;
    margin-bottom: 1rem;
}

.review-star {
    position: relative;
}

.review-star::after {
    content: "";
    position: absolute;
    top: 0.5rem;
    right: 15rem;
    width: 0.5rem;
    height: 0.5rem;
    border-right: 0.2rem solid #c7c6c6;
    border-bottom: 0.2rem solid #c7c6c6;
    transform: rotate(45deg);
    pointer-events: none;
}

.review-select {
    width: 35%;
    font-size: large;
    border-radius: 0.5rem;
    padding: 0.3rem 0.5rem;
    border: none;
    appearance: none;
    cursor: pointer;
}

.review-select:focus-visible {
    outline: 0;
}

.review-comment__field {
    border-radius: 0.3rem;
    font-size: large;
}

.review-comment__field:focus-visible {
    outline: 0;
}

.review-button__submit {
    background-color: #0f2bff;
    color: #fff;
    border: none;
    border-radius: 0.3rem;
    padding: 0.3rem 0.5rem;
    font-size: large;
    box-shadow: 0.1rem 0.1rem 0.3rem #000;
}

.form-error {
    color: #fd3c3c;
}