.main {
    width: 35%;
    border-radius: 0.3rem;
    box-shadow: 0.3rem 0.3rem 0.2rem #616161;
    background-color: #f5f5f5;
    margin: 5rem auto;
    text-align: center;
    padding: 2rem 2rem 3rem;
}

.main-title__logo {
    font-size: x-large;
    font-weight: bold;
    color: #384fff;
}

.main-content {
    width: 80%;
    margin: 0 auto;
    border-radius: 0.3rem;
    background-color: #fff;
    padding-top: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #979797;
}

.message-again {
    font-size: larger;
    color: #fb4242;
    padding-bottom: 1rem;
}

.message {
    margin-bottom: 1rem;
}

.message-form__button {
    margin-bottom: 1rem;
    color: #2f53f7;
    border: none;
    background-color: #fff;
    padding: 0.5rem 1rem;
    font-size: large;
    cursor: pointer;
}